.side-data-conatiner{
    display: flex;
}

.side-data-card {
    border: 1px solid #c2c2c2;
    width: fit-content;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-left: 10px;
}

.side-img {
    padding: 16px;
}

.side-image{
    height: 90px;
    margin: auto;
}

.side-detail-div {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
    padding: 5px 15px;
}

span.side-label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #5c5c5c;
    text-wrap: wrap;
    width:140px;
}

span.side-dimensions {
    color: #c2c2c2;
}

.side-data-card:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}