*{
    box-sizing: border-box;
}

.AddRemove_button {
    position: absolute;
    left: 36px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .Section_Section__3MCIu .Section_sectionNumberContainer {
    height: auto;
  }
  

  .arrows-dimensionsIndicator._selected::before{
    border-right-color: #3c9cea !important;
  }

  .arrows-dimensionsIndicator._selected::after{
    border-left-color: #3c9cea !important;
  }
  .arrows-dimensionsIndicator::before {
      border-bottom: 5px solid transparent;
      border-right: 8px solid #d4d7db;
      border-top: 5px solid transparent;
      height: 0;
      left: -1px;
      position: absolute;
      width: 0;
      content: "";
  }
  .arrows-dimensionsIndicator::after {
      border-bottom: 5px solid transparent;
      border-left: 8px solid #d4d7db;
      border-top: 5px solid transparent;
      height: 0;
      position: absolute;
      right: -1px;
      width: 0;
      content: "";
  }

  .arrows-dimensionsIndicator-left {
    position: absolute;
    left: -40%;
    bottom: 0;
    height: calc(100% - 7em);
}


.arrows-dimensionsIndicator-left::before{
  content: "";
border-bottom: 8px solid #d4d7db;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
height: 0;
position: absolute;
top: 0;
width: 0;
}
.arrows-dimensionsIndicator-left::after{
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #d4d7db;
  height: 0;
  position: absolute;
  width: 0;
  bottom: 0;
}
.arrows-dimensionsIndicator-left._selected::before{
  border-bottom-color: #3c9cea;
}
.arrows-dimensionsIndicator-left._selected::after{
  border-top-color: #3c9cea;
}
.arrows-dimensionsIndicator-depth {
  right: -11px;
  left: auto;
  height: 42px;
  transform: rotate(41deg);
  bottom: -16px;
}

.arrows-dimensionsIndicator-depth > span {
  transform: rotate(49deg) translate(30px, 16px);
  background: transparent;
}
.arrows-dimensionsIndicator-depth,
.arrows-dimensionsIndicator-left,
.arrows-dimensionsIndicator {
  transition: opacity .5s, width .15s, top .15s;
}