@import "tailwindcss";

:root{
    --font-roboto: "Roboto", "sans-serif";
    --font-inter: "Inter", "sans-serif";
}

.font-roboto{
    font-family: var(--font-roboto);
}

.font-inter{
    font-family: var(--font-inter);
}
